# Editors
.vs
.vscode
.atom
.idea

# Project
bin/jailer*
config.yml
sandbox

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage
*.out
*.html
