# Editors
.vs
.vscode/*
.atom
.idea

# Project
!.vscode/settings.json
bin
jailer.yml
sandbox
test-jail.conf
test.conf
t.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Coverage
*.out
*.html
